{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}
    {% if show_embedded_advanced_toggle %}
        <style>
            {% if is_embedded_advanced_mode %}
                .embedded-advanced-fields,
                .inline-group {
                    display: block;
                }
            {% else %}
                .embedded-advanced-fields,
                .inline-group {
                    display: none;
                }
            {% endif %}
        </style>
    {% endif %}
{% endblock %}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript">
        django.jQuery(function ($) {
            $('.submissions-link').appendTo('div#bottombar').show();
            $('.problem-votes-link').appendTo('div#bottombar').show();
            $('.test-data-link').appendTo('div#bottombar').show();
            $('.clone-problem-link').appendTo('div#bottombar').show();

            {% if show_embedded_advanced_toggle %}
                var advancedOpen = {{ is_embedded_advanced_mode|yesno:"true,false" }};
                var presetConfig = {{ simple_preset_defaults|safe }};
                var presetDefaults = presetConfig.values || {};
                var presetDisplay = presetConfig.display || {};
                var $advancedToggleInput = $('#id_embedded_advanced_mode');
                var $advancedSections = $('.embedded-advanced-fields, .inline-group');
                var $advancedButton = $('#embedded-advanced-toggle');
                var $preset = $('#id_creation_preset');
                var watchedFields = [
                    'code', 'is_public', 'is_manually_managed', 'date', 'authors', 'curators', 'testers',
                    'organizations', 'classes', 'submission_source_visibility_mode', 'is_full_markup',
                    'view_test_cases', 'view_tester', 'ai_hints_enabled', 'license', 'og_image', 'summary',
                    'types', 'group', 'points', 'partial', 'short_circuit', 'time_limit', 'memory_limit',
                    'allowed_languages', 'banned_users'
                ];
                var syncingPreset = false;

                function waitForAutofillFunction(remainingAttempts) {
                    if (typeof window.DKUOJAutofillProblemCode === 'function') {
                        return Promise.resolve(window.DKUOJAutofillProblemCode);
                    }
                    if (remainingAttempts <= 0) {
                        return Promise.resolve(null);
                    }
                    return new Promise(function (resolve) {
                        window.setTimeout(function () {
                            waitForAutofillFunction(remainingAttempts - 1).then(resolve);
                        }, 100);
                    });
                }

                function updateAdvancedVisibility() {
                    $advancedSections.toggle(advancedOpen);
                    $advancedButton.text(
                        advancedOpen ? '{{ _("Hide advanced settings")|escapejs }}' : '{{ _("Advanced")|escapejs }}'
                    );
                    $advancedToggleInput.val(advancedOpen ? '1' : '');
                }

                function normalizedValue(fieldName) {
                    var defaultValue = presetDefaults[fieldName];
                    if ($.isArray(defaultValue)) {
                        return defaultValue.map(String).sort().join(',');
                    }
                    if (typeof defaultValue === 'boolean') {
                        return defaultValue ? '1' : '0';
                    }
                    return defaultValue == null ? '' : String(defaultValue);
                }

                function currentValue(fieldName) {
                    var $field = $('#id_' + fieldName);
                    var $checkboxGroup = $('input[name="' + fieldName + '"]');
                    if ($checkboxGroup.length) {
                        return $checkboxGroup.filter(':checked').map(function () {
                            return String(this.value);
                        }).get().sort().join(',');
                    }
                    if (!$field.length) {
                        return '';
                    }
                    if ($field.is(':checkbox')) {
                        return $field.is(':checked') ? '1' : '0';
                    }
                    if ($field.is('select[multiple]')) {
                        return (($field.val() || []).map(String).sort().join(','));
                    }
                    return String($field.val() || '');
                }

                function setFieldValue(fieldName, value) {
                    var $field = $('#id_' + fieldName);
                    var $checkboxGroup = $('input[name="' + fieldName + '"]');
                    if ($checkboxGroup.length) {
                        var targetValues = (value || []).map(String);
                        $checkboxGroup.each(function () {
                            $(this).prop('checked', targetValues.indexOf(String(this.value)) !== -1);
                        }).trigger('change');
                        return;
                    }
                    if (!$field.length) {
                        return;
                    }
                    if ($field.is('select')) {
                        var displayValue = presetDisplay[fieldName];
                        if ($.isArray(displayValue)) {
                            displayValue.forEach(function (item) {
                                if ($field.find('option[value="' + item.id + '"]').length === 0) {
                                    $field.append(new Option(item.text, item.id, false, false));
                                }
                            });
                        } else if (displayValue && $field.find('option[value="' + displayValue.id + '"]').length === 0) {
                            $field.append(new Option(displayValue.text, displayValue.id, false, false));
                        }
                    }
                    if ($field.is(':checkbox')) {
                        $field.prop('checked', !!value).trigger('change');
                        return;
                    }
                    if ($field.is('select[multiple]')) {
                        $field.val((value || []).map(String)).trigger('change');
                        return;
                    }
                    $field.val(value == null ? '' : value).trigger('change');
                }

                function requestAutofillCode() {
                    var fallbackCode = presetDefaults.code == null ? '' : String(presetDefaults.code);
                    return waitForAutofillFunction(20).then(function (autofillFn) {
                        if (autofillFn) {
                            return autofillFn().then(function (generatedCode) {
                                presetDefaults.code = generatedCode || fallbackCode;
                                return presetDefaults.code;
                            });
                        }
                        setFieldValue('code', fallbackCode);
                        presetDefaults.code = fallbackCode;
                        return fallbackCode;
                    }).catch(function () {
                        setFieldValue('code', fallbackCode);
                        presetDefaults.code = fallbackCode;
                        return fallbackCode;
                    });
                }

                function applyPreset(presetName) {
                    if (presetName !== 'default') {
                        return;
                    }
                    syncingPreset = true;
                    watchedFields.forEach(function (fieldName) {
                        if (fieldName === 'code') {
                            return;
                        }
                        setFieldValue(fieldName, presetDefaults[fieldName]);
                    });
                    requestAutofillCode().finally(function () {
                        syncingPreset = false;
                        updatePresetFromAdvancedFields();
                    });
                }

                function updatePresetFromAdvancedFields() {
                    if (syncingPreset) {
                        return;
                    }
                    var isCustomized = watchedFields.some(function (fieldName) {
                        return currentValue(fieldName) !== normalizedValue(fieldName);
                    });
                    $preset.val(isCustomized ? 'custom' : 'default');
                }

                $advancedButton.on('click', function () {
                    advancedOpen = !advancedOpen;
                    updateAdvancedVisibility();
                });

                $preset.on('change', function () {
                    if ($(this).val() === 'default') {
                        applyPreset('default');
                    }
                });

                $('#id_name').on('input', function () {
                    if ($preset.val() === 'default') {
                        syncingPreset = true;
                        requestAutofillCode().finally(function () {
                            syncingPreset = false;
                            updatePresetFromAdvancedFields();
                        });
                    } else {
                        updatePresetFromAdvancedFields();
                    }
                });

                watchedFields.forEach(function (fieldName) {
                    $('#id_' + fieldName).on('change input', updatePresetFromAdvancedFields);
                });

                if ($preset.val() === 'default') {
                    applyPreset('default');
                } else {
                    updatePresetFromAdvancedFields();
                }
                updateAdvancedVisibility();
            {% endif %}
        });
    </script>
{% endblock extrahead %}

{% block form_top %}
    {{ block.super }}
    {% if is_advanced_add %}
        <input type="hidden" name="_advanced_mode" value="1">
    {% elif show_embedded_advanced_toggle %}
        {{ adminform.form.embedded_advanced_mode }}
    {% endif %}
{% endblock %}

{% block after_related_objects %}
    {{ block.super }}
    {% if show_embedded_advanced_toggle %}
        <div style="margin-top: 16px;">
            <button class="button" id="embedded-advanced-toggle" type="button">{{ _('Advanced') }}</button>
        </div>
    {% endif %}
{% endblock %}

{% block after_field_sets %}{{ block.super }}
    {% if original %}
        <a style="display: none" title="{{ _('View submissions') }}" class="button submissions-link"
           href="{% url 'admin:judge_submission_changelist' %}?problem__code={{ original.code }}">
            <i class="fa fa-lg fa-search-plus"></i>
            <span class="text">{{ _('View submissions') }}</span>
        </a>
        <a style="display: none" title="{{ _('View problem votes') }}" class="button problem-votes-link"
           href="{% url 'admin:judge_problempointsvote_changelist' %}?problem__code={{ original.code }}">
           <i class="fa fa-lg fa-envelope"></i>
           <span class="text">{{ _('View problem votes') }}</span>
        </a>
        {% if not original.is_manually_managed %}
        <a style="display: none" title="{{ _('Edit test data') }}" class="button test-data-link"
           href="{% url 'problem_data' original.code %}" target="_blank">
           <i class="fa fa-lg fa-database"></i>
           <span class="text">{{ _('Edit test data') }}</span>
        </a>
        {% endif %}
        <a style="display: none" title="{{ _('Clone problem') }}" class="button clone-problem-link"
           href="{% url 'problem_clone' original.code %}">
           <i class="fa fa-lg fa-copy"></i>
           <span class="text">{{ _('Clone problem') }}</span>
        </a>
    {% endif %}
{% endblock %}
