{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript">
        django.jQuery(function ($) {
            $('.submissions-link').appendTo('div#bottombar').show();
            $('.problem-votes-link').appendTo('div#bottombar').show();
            $('.test-data-link').appendTo('div#bottombar').show();
            $('.clone-problem-link').appendTo('div#bottombar').show();

            {% if show_advanced_add_button %}
                var advancedOpen = {{ is_embedded_advanced_mode|yesno:"true,false" }};
                var $advancedToggleInput = $('#id_embedded_advanced_mode');
                var $advancedSections = $('.embedded-advanced-fields, .inline-group');
                var $advancedButton = $('#embedded-advanced-toggle');

                function updateAdvancedVisibility() {
                    $advancedSections.toggle(advancedOpen);
                    $advancedButton.text(advancedOpen ? '{{ _("Hide advanced")|escapejs }}' : '{{ _("Advanced")|escapejs }}');
                    $advancedToggleInput.val(advancedOpen ? '1' : '');
                }

                $advancedButton.on('click', function () {
                    advancedOpen = !advancedOpen;
                    updateAdvancedVisibility();
                });

                updateAdvancedVisibility();
            {% endif %}
        });
    </script>
{% endblock extrahead %}

{% block form_top %}
    {{ block.super }}
    {% if is_advanced_add %}
        <input type="hidden" name="_advanced_mode" value="1">
    {% elif show_advanced_add_button %}
        {{ adminform.form.embedded_advanced_mode }}
    {% endif %}
{% endblock %}

{% block after_related_objects %}
    {{ block.super }}
    {% if show_advanced_add_button %}
        <div style="margin-top: 16px;">
            <button class="button" id="embedded-advanced-toggle" type="button">{{ _('Advanced') }}</button>
        </div>
    {% endif %}
{% endblock %}

{% block after_field_sets %}{{ block.super }}
    {% if original %}
        <a style="display: none" title="{{ _('View submissions') }}" class="button submissions-link"
           href="{% url 'admin:judge_submission_changelist' %}?problem__code={{ original.code }}">
            <i class="fa fa-lg fa-search-plus"></i>
            <span class="text">{{ _('View submissions') }}</span>
        </a>
        <a style="display: none" title="{{ _('View problem votes') }}" class="button problem-votes-link"
           href="{% url 'admin:judge_problempointsvote_changelist' %}?problem__code={{ original.code }}">
           <i class="fa fa-lg fa-envelope"></i>
           <span class="text">{{ _('View problem votes') }}</span>
        </a>
        {% if not original.is_manually_managed %}
        <a style="display: none" title="{{ _('Edit test data') }}" class="button test-data-link"
           href="{% url 'problem_data' original.code %}" target="_blank">
           <i class="fa fa-lg fa-database"></i>
           <span class="text">{{ _('Edit test data') }}</span>
        </a>
        {% endif %}
        <a style="display: none" title="{{ _('Clone problem') }}" class="button clone-problem-link"
           href="{% url 'problem_clone' original.code %}">
           <i class="fa fa-lg fa-copy"></i>
           <span class="text">{{ _('Clone problem') }}</span>
        </a>
    {% endif %}
{% endblock %}
