{% extends "common-content.html" %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'detail' %}
    {% set title = contest.name %}
    {% include "contest/contest-tabs.html" %}
{% endblock %}

{% block content_js_media %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.time-remaining').each(function () {
                count_down($(this));
            });
        });

        $('.contest-extracting-to-pdf form').on('submit', function() {
            var button = $(this).find('button');
            button.html('<i class="fa fa-spinner fa-spin"></i> {{ _("Generating...") }}');
            button.prop('disabled', true);
        });
    </script>
    {% include "contest/media-js.html" %}
    {% include "comments/media-js.html" %}
{% endblock %}

{% block content_media %}
    {% include "comments/media-css.html" %}
{% endblock %}

{% block body %}
    <div id="banner">
        <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg={{ contest.name|urlquote('') }}&amp;iso=
                {{- (contest.start_time if contest.start_time >= now else contest.end_time)|utc|date('Y-m-d\TH:i:s') }}" class="date">
            {%- if contest.is_in_contest(request.user) and not request.participation.live -%}
                {% if request.participation.spectate %}
                    {{- _('Spectating, contest ends in %(countdown)s.', countdown=as_countdown(contest.time_before_end)) -}}
                {% elif request.participation.end_time %}
                    {{- _('Participating virtually, %(countdown)s remaining.', countdown=as_countdown(request.participation.time_remaining)) -}}
                {% else %}
                    {{- _('Participating virtually.') -}}
                {% endif %}
            {%- else -%}
                {% if contest.start_time > now %}
                    {{- _('Starting in %(countdown)s.', countdown=as_countdown(contest.time_before_start)) -}}
                {% elif contest.end_time < now %}
                    {{- _('Contest is over.') -}}
                {% else %}
                    {%- if has_joined -%}
                        {% if live_participation.ended %}
                            {{- _('Your time is up! Contest ends in %(countdown)s.', countdown=as_countdown(contest.time_before_end)) -}}
                        {% else %}
                            {{- _('You have %(countdown)s remaining.', countdown=as_countdown(live_participation.time_remaining)) -}}
                        {% endif %}
                    {%- else -%}
                        {{ _('Contest ends in %(countdown)s.', countdown=as_countdown(contest.time_before_end)) }}
                    {%- endif -%}
                {% endif %}
            {%- endif -%}
        </a>
        <div id="time">
            {% with start_time=contest.start_time|date(_("F j, Y, G:i T")) %}
                {% if contest.time_limit %}
                    {% set end_time=contest.end_time|date(_("F j, Y, G:i T")) %}
                    {% set time_limit=contest.time_limit|timedelta('localized-no-seconds') %}
                    {{ _('%(time_limit)s window between %(start_time)s and %(end_time)s', start_time=bold(start_time), end_time=bold(end_time), time_limit=bold(time_limit)) }}
                {% else %}
                    {% set length=contest.contest_window_length|timedelta('localized-no-seconds') %}
                    {{ _('%(length)s long starting on %(start_time)s', start_time=bold(start_time), length=bold(length)) }}
                {% endif %}
            {% endwith %}
        </div>
        {% if contest.show_short_display %}
            <div id="details">
                <ul>
                    {% with authors=contest.authors.all() %}
                        {% if authors %}
                            <li>
                                {% trans trimmed count=authors|length, link_authors=link_users(authors) %}
                                    The author of this contest is {{ link_authors }}.
                                {% pluralize count %}
                                    The authors of this contest are {{ link_authors }}.
                                {% endtrans %}
                            </li>
                        {% endif %}
                    {% endwith %}
                    {% with testers=contest.testers.all() %}
                        {% if testers %}
                            <li>
                                {% trans trimmed count=testers|length, link_testers=link_users(testers) %}
                                    Special thanks to {{ link_testers }} for testing and feedback on the problems.
                                {% pluralize count %}
                                    Special thanks to {{ link_testers }} for testing and feedback on the problems.
                                {% endtrans %}
                            </li>
                        {% endif %}
                    {% endwith %}
                    <li>
                        {% if contest.is_rated %}
                            {% if contest.rate_all %}
                                {% if contest.rating_floor is not none and contest.rating_ceiling is not none %}
                                    {{ _('This contest will be **rated** for **all** participants who have a rating between **%(rating_floor)d** and **%(rating_ceiling)d**, inclusive.', rating_floor=contest.rating_floor, rating_ceiling=contest.rating_ceiling)|markdown('default') }}
                                {% elif contest.rating_floor is not none and contest.rating_ceiling is none %}
                                    {{ _('This contest will be **rated** for **all** participants who have a rating of at least **%(rating_floor)d**.', rating_floor=contest.rating_floor)|markdown('default') }}
                                {% elif contest.rating_floor is none and contest.rating_ceiling is not none %}
                                    {{ _('This contest will be **rated** for **all** participants who have a rating of at most **%(rating_ceiling)d**.', rating_ceiling=contest.rating_ceiling)|markdown('default') }}
                                {% else %}
                                    {{ _('This contest will be **rated** for **all** participants.')|markdown('default') }}
                                {% endif %}
                            {% else %}
                                {% if contest.rating_floor is not none and contest.rating_ceiling is not none %}
                                    {{ _('This contest will be **rated** for participants who submit at least once and have a rating between **%(rating_floor)d** and **%(rating_ceiling)d**, inclusive.', rating_floor=contest.rating_floor, rating_ceiling=contest.rating_ceiling)|markdown('default') }}
                                {% elif contest.rating_floor is not none and contest.rating_ceiling is none %}
                                    {{ _('This contest will be **rated** for participants who submit at least once and have a rating of at least **%(rating_floor)d**.', rating_floor=contest.rating_floor)|markdown('default') }}
                                {% elif contest.rating_floor is none and contest.rating_ceiling is not none %}
                                    {{ _('This contest will be **rated** for participants who submit at least once and have a rating of at most **%(rating_ceiling)d**.', rating_ceiling=contest.rating_ceiling)|markdown('default') }}
                                {% else %}
                                    {{ _('This contest will be **rated** for participants who submit at least once.')|markdown('default') }}
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {{ _('This contest will **not** be rated.')|markdown('default') }}
                        {% endif %}
                    </li>
                    <li>
                        {% filter markdown('default') %}
                            {% trans trimmed count=metadata.problem_count %}
                                There is **{{ count }}** problem in this contest.
                            {% pluralize count %}
                                There are **{{ count }}** problems in this contest.
                            {% endtrans %}
                        {% endfilter %}
                        <ul>
                            <li>
                                {% if metadata.has_partials %}
                                    {{ _('**Partial scoring is enabled** for some or all of these problems.')|markdown('default') }}
                                {% else %}
                                    {{ _('This contest **will not use partial scoring**.')|markdown('default') }}
                                {% endif %}
                            </li>
                            <li>
                                {% if metadata.has_pretests %}
                                    {{ _('The pretest system **will be used** for some or all of these problems.')|markdown('default') }}
                                {% else %}
                                    {{ _('The pretest system **will not be used** for this contest.')|markdown('default') }}
                                {% endif %}
                            </li>
                            <li>
                                {% if metadata.has_submission_cap %}
                                    {{ _('Some or all of these problems **have a submission limit**.')|markdown('default') }}
                                {% else %}
                                    {{ _('There is **no submission limit** for any of these problems.')|markdown('default') }}
                                {% endif %}
                            </li>
                        </ul>
                    </li>
                    <li>
                        {{ _('The contest format is **%(format)s**.', format=contest.format.name)|markdown('default') }}
                        <ul>
                            {% for line in contest.format.get_short_form_display() %}
                                <li>{{ line|markdown('default') }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        {% if contest.scoreboard_visibility == contest.SCOREBOARD_VISIBLE %}
                            {{ _('The scoreboard will be **visible** for the duration of the contest.')|markdown('default') }}
                        {% elif contest.scoreboard_visibility == contest.SCOREBOARD_AFTER_PARTICIPATION %}
                            {{ _('The scoreboard will be **hidden** until your window is over.')|markdown('default') }}
                        {% elif contest.scoreboard_visibility == contest.SCOREBOARD_AFTER_CONTEST %}
                            {{ _('The scoreboard will be **hidden** for the entire duration of the contest.')|markdown('default') }}
                        {% elif contest.scoreboard_visibility == contest.SCOREBOARD_HIDDEN %}
                            {{ _('The scoreboard will be **hidden**, even after the contest is over.')|markdown('default') }}
                        {% endif %}
                    </li>
                    {% if contest.access_code %}
                        <li>
                            {{ _('An **access code is required** to join the contest.')|markdown('default') }}
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>

    <div class="content-description">
        {% cache 3600 'contest_html' contest.id MATH_ENGINE %}
            {{ contest.description|markdown('contest', MATH_ENGINE)|reference|str|safe }}
        {% endcache %}
    </div>

    <div style="display: flex; flex-wrap: wrap; align-items: flex-start; justify-content: space-between;">
        {% if can_edit %}
            <!-- <div class="contest-extracting-to-pdf">
                <form action="{{ url('contest_export_pdf', contest.key) }}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                        <i class="fa fa-file-pdf-o"></i>{{ _(' Export Contest to PDF') }}
                    </button>
                </form>
                <p style="color: #666; font-size: 14px; margin-top: 8px;">
                    {{ _('Includes contest description and problem details') }}
                </p>
            </div>
            <div class="contest-extracting-to-word">
                <form action="{{ url('contest_export_word', contest.key) }}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                        <i class="fa fa-file-word-o"></i>{{ _(' Export Contest to Word') }}
                    </button>
                </form>
                <p style="color: #666; font-size: 14px; margin-top: 8px;">
                    {{ _('Includes contest description and problem details') }}
                </p>
            </div> -->
            <div class="contest-extracting-dropdown">
                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle" id="exportDropdownBtn" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-download"></i> {{ _('Extract the contest') }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="exportDropdownBtn">
                        <li>
                            <a href="#" data-format="pdf" class="export-option">
                                <i class="fa fa-file-pdf-o"></i> {{ _('Extract to PDF') }}
                            </a>
                        </li>
                        <li>
                            <a href="#" data-format="word" class="export-option">
                                <i class="fa fa-file-word-o"></i> {{ _('Extract to Word') }}
                            </a>
                        </li>
                    </ul>
                </div>
                <p style="color: #666; font-size: 14px; margin-top: 8px;">
                    {{ _('Including Contest Description and Problem Details') }}
                </p>
                <!-- 用于生成 PDF/Word 的表单容器 -->
                <form id="export-pdf-form" action="{{ url('contest_export_pdf', contest.key) }}" method="post" style="display: none;">
                    {% csrf_token %}
                </form>
                <form id="export-word-form" action="{{ url('contest_export_word', contest.key) }}" method="post" style="display: none;">
                    {% csrf_token %}
                </form>
            </div>

            <style>
                .contest-extracting-dropdown {
                    margin-bottom: 1em;
                }
                .dropdown {
                    position: relative;
                    display: inline-block;
                }
                .dropdown-toggle {
                    background-color: #f5f5f5;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    padding: 6px 12px;
                    cursor: pointer;
                    font-size: 14px;
                    line-height: 1.42857143;
                    text-align: center;
                    white-space: nowrap;
                }
                .dropdown-toggle .caret {
                    display: inline-block;
                    width: 0;
                    height: 0;
                    margin-left: 5px;
                    vertical-align: middle;
                    border-top: 4px dashed;
                    border-right: 4px solid transparent;
                    border-left: 4px solid transparent;
                }
                .dropdown-menu {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    z-index: 1000;
                    display: none;
                    float: left;
                    min-width: 160px;
                    padding: 5px 0;
                    margin: 2px 0 0;
                    font-size: 14px;
                    text-align: left;
                    list-style: none;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-shadow: 0 6px 12px rgba(0,0,0,.175);
                }
                .dropdown-menu li a {
                    display: block;
                    padding: 3px 20px;
                    clear: both;
                    font-weight: normal;
                    line-height: 1.42857143;
                    color: #333;
                    white-space: nowrap;
                    text-decoration: none;
                }
                .dropdown-menu li a:hover {
                    background-color: #e6e6e6;
                    color: #262626;
                }
                .dropdown.open .dropdown-menu {
                    display: block;
                }
            </style>

            <script type="text/javascript">
                $(document).ready(function() {
                    // 下拉菜单交互
                    $('.dropdown-toggle').on('click', function(e) {
                        e.preventDefault();
                        e.stopPropagation();
                        $('.dropdown').toggleClass('open');
                    });

                    $(document).on('click', function(e) {
                        if (!$(e.target).closest('.dropdown').length) {
                            $('.dropdown').removeClass('open');
                        }
                    });

                    // 导出选项点击处理
                    $('.export-option').on('click', function(e) {
                        e.preventDefault();
                        var format = $(this).data('format');
                        var $btn = $('#exportDropdownBtn');
                        var originalHtml = $btn.html();

                        // 显示加载状态
                        $btn.html('<i class="fa fa-spinner fa-spin"></i> {{ _("Generating ...") }}');
                        $btn.prop('disabled', true);

                        // 根据格式提交对应的表单
                        if (format === 'pdf') {
                            $('#export-pdf-form').submit();
                        } else if (format === 'word') {
                            $('#export-word-form').submit();
                        }

                        // 由于表单提交会刷新页面，这里无需恢复按钮状态；但如果使用ajax，则需要恢复。这里保持简单。
                        // 为了防止快速多次点击，延迟关闭下拉菜单
                        $('.dropdown').removeClass('open');
                        // 注意：如果生成过程很长，按钮会保持禁用直到页面重载；若出现网络错误无重载，用户无法恢复，但罕见。
                        // 可添加超时恢复（可选）
                        setTimeout(function() {
                            if ($btn.prop('disabled')) {
                                $btn.html(originalHtml);
                                $btn.prop('disabled', false);
                            }
                        }, 10000);
                    });
                });
            </script>
        {% endif %}

        {% if can_edit %}
            <div style="margin-bottom: 1em; text-align: right;">
                <a href="{{ url('contest_export_scores', contest.key) }}" class="button" style="display: inline-block; width: auto; margin-right: 5px;"><i class="fa fa-download"></i> {{ _('Export Scores') }}</a>
                <a href="{{ url('contest_export_submissions', contest.key) }}" class="button" style="display: inline-block; width: auto;"><i class="fa fa-file-archive-o"></i> {{ _('Export Submissions') }}</a>
            </div>
        {% endif %}
    </div>

    {% if contest.ended or request.user.is_superuser or is_editor or is_tester or (is_spectator and contest.started) or is_org_admin %}
        <hr>
        <div class="contest-problems">
            <h2 style="margin-bottom: 0.2em"><i class="fa fa-fw fa-question-circle"></i>{{ _('Problems') }} </h2>
            <table class="table striped">
                <thead>
                <tr>
                    <th>{{ _('Problem') }}</th>
                    <th>{{ _('Points') }}</th>
                    <th>{{ _('AC Rate') }}</th>
                    <th>{{ _('Users') }}</th>
                    {% if metadata.has_public_editorials %}
                        <th>{{ _('Editorials') }}</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for problem in contest_problems %}
                    <tr>
                        <td>
                            {% if problem.is_public or request.user.is_superuser or is_editor %}
                                <a href="{{ url('problem_detail', problem.code) }}">{{ problem.i18n_name or problem.name }}</a>
                            {% else %}
                                {{ problem.i18n_name or problem.name }}
                            {% endif %}
                        </td>
                        <td>{{ problem.contest_points|floatformat }}{% if problem.contest_partial %}p{% endif %}</td>
                        <td>{{ problem.ac_rate|floatformat(1) }}%</td>
                        <td>
                            {% if problem.is_public %}
                                <a href="{{ url('ranked_submissions', problem.code) }}">{{ problem.user_count }}</a>
                            {% else %}
                                {{ problem.user_count }}
                            {% endif %}
                        </td>
                        {% if metadata.has_public_editorials %}
                            <td>
                                {% if problem.is_public and problem.has_public_editorial %}
                                    <a href="{{ url('problem_editorial', problem.code) }}">{{ _('Editorial') }}</a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if enable_social %}
        <hr>
        <span class="social">
            {{ post_to_facebook(request, contest, '<i class="fa fa-facebook-official"></i>') }}
            {{ post_to_twitter(request, SITE_NAME + ':', contest, '<i class="fa fa-twitter"></i>') }}
        </span>
    {% endif %}

    {% if enable_comments %}
        {% include "comments/list.html" %}
    {% endif %}
{% endblock %}

{% block description_end %}{% endblock %}
